body {
    background-color: #efefef;
}

.main {
    margin: 30px 50px 0 60px;
    background-color: white;
}

.bottom15 {
    margin-bottom: 15px;
}

.warning {
    margin-right:15px;
}

.text-extra {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.w40 { width:40px;}
.h40 { height:40px;}
