body {
    background-color: #efefef;
}

.main {
    margin: 30px 50px 0 60px;
    background-color: white;
}
.padding10 {
    padding:10px;}
.padding0 {  padding:0;}
.bottom15 {
    margin-bottom: 15px;
}

.warning {
    margin-right:15px;
}

.text-extra {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.w40 { width:40px;}
.h40 { height:40px;}

.top10 {  margin-top:10px;}
.top20 {  margin-top:20px;}
.left50 {  margin-left:50px;}
.bottom10 {  margin-bottom:10px;}
.right10 {  margin-right:10px;}

.font12 {  font-size: 12px;}
.font13 {  font-size: 13px;}
.color999 { color: #999;}

.border-bottom {
    border-bottom: 1px solid #f5f5f5;}
.border-radius {
    border: 1px solid #e1e1e1;  border-radius: 10px;}

.operate-line {
    line-height: 28px;
    font-size:12px;
    color: #999;
}
.operate {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding:0 10px;
    color: #999;
}
.operate:hover {  background-color: #499ef3;  color: #fff;  text-decoration: none; cursor: pointer;}
.active-blue {  background-color: #499ef3;  color: #fff;  text-decoration: none; cursor: pointer;}
.comment-datetime {  display: inline-block;  float: right;}
.related {
    padding: 3px 0;
    font-size: 12px;
    line-height:160%;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
.tag {
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}
.tag:hover {  background-color: #339dff;  text-decoration: none;  color: #ffffff;  }
